# DEVOPS
# Azure Resource Names
# Copy to resource-names.env to customize

RESOURCE_GROUP=rg-placeholder
FUNCTION_APP_NAME=func-placeholder
STATIC_WEB_APP_NAME=web-placeholder
STORAGE_ACCOUNT_NAME=stplaceholder
STORAGE_CONTAINER=placeholder-container
TRANSLATOR_NAME=trans-placeholder
TRANSLATOR_RESOURCE_GROUP=
RATE_LIMIT_TABLE_NAME=rateLimits
LOCATION=westeurope
